<div id="login-form-layout" class="auth-form-container">
    <div class="auth-form-header">
        <h2>Sign in</h2>
    </div>
    <div class="auth-form-body">
        {{ include('security/_login_form.html.twig') }}
    </div>
</div>
