<form action="/login" id="login-form" method="post" class="auth-form">
	<div class="container">
		<label for="login"><b>Login</b></label>
		<input id="login" type="text" name="login" placeholder="Enter Login" required>
		<label for="pass"><b>Password</b></label>
		<input id="pass" type="password" name="pass" placeholder="Enter Password" required>
		<button type="submit">Login</button>
		<div class="reg">
			You don't have an account -
			<a href="/register">register!</a>
		</div>
	</div>
</form>
